InventorySystem/Temp/
InventorySystem/Library/
InventorySystem/ExportedObj/
InventorySystem/obj/
InventorySystem/*.svd
InventorySystem/*.userprefs
InventorySystem/*.csproj
InventorySystem/*.pidb
InventorySystem/*.suo
InventorySystem/*.sln
InventorySystem/*.user
InventorySystem/*.unityproj
InventorySystem/*.booproj
InventorySystem/*.DS_Store
InventorySystem/*.DS_Store?
InventorySystem/*._*
InventorySystem/*.Spotlight-V100
InventorySystem/*.Trashes
InventorySystem/*ehthumbs.db
InventorySystem/*Thumbs.db